apiVersion: v1
kind: ConfigMap
metadata:
  name: frink-ldf-config
data:
  config.json: |
    {
      "@context": "https://linkedsoftwaredependencies.org/bundles/npm/@ldf/server/^3.0.0/components/context.jsonld",
      "@id": "urn:ldf-server:my",
      "import": "preset-qpf:config-defaults.json",
      "title": "FRINK Linked Data Fragments server",
      "protocol": "http",
      "baseURL": "https://{{ host_name }}/ldf",
      "router": [
          {
            "@id": "preset-qpf:sets/routers.json#myPageRouter",
            "pageSize": 100
          }
        ],
      "datasources": {{ datasources | tojson(indent=2) | indent(6) }}

    }
