apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /ldf/$1
    nginx.ingress.kubernetes.io/whitelist-source-range: "0.0.0.0/0,::/0"
  name: frink-ldf-ingress
spec:
  tls:
  - hosts:
      - {{ host_name }}
    secretName: {{ host_name }}-tls
  rules:
  - host: {{ host_name }}
    http:
      paths:
      - pathType: Prefix
        path: "/ldf/(.*)"
        backend:
          service:
            name: frink-ldf-service
            port:
              number: 80