apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc_name }}
spec:
  accessModes:
    - ReadWriteMany
  {% if storage_class %}
  storageClassName: {{ storage_class }}
  {% endif %}
  resources:
    requests:
      storage: {{ pvc_size }}
