apiVersion: apps/v1
kind: Deployment
metadata:
  name: frink-ldf-server
  labels:
    app: frink-ldf-server
spec:
  replicas: {{ replicas | default(1) }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: frink-ldf-server
  template:
    metadata:
      labels:
        app: frink-ldf-server
      annotations:
        kace/config-hash: "{{ config_hash | default('init') }}"
    spec:
      securityContext:
        runAsUser: 1001
        runAsGroup: 3000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
      containers:
      - name: ldf-server
        image: {{ image | default('containers.renci.org/frink/ldf-server:2023-09-13') }}
        ports:
        - containerPort: 3000
        args:
        - "/srv/conf/config.json"
        - "3000"
        - "4"
        readinessProbe:
          tcpSocket:
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
          failureThreshold: 6
        livenessProbe:
          tcpSocket:
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 30
          failureThreshold: 3
        resources:
          requests:
            cpu: '4'
            memory: '63G'
          limits:
            cpu: '4'
            memory: '63G'
        volumeMounts:
        - name: data
          mountPath: "/data"
        - name: config
          mountPath: "/srv/conf"
          readOnly: true
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: {{ pvc_name }}
      - name: config
        configMap:
          name: frink-ldf-config
          items:
          - key: "config.json"
            path: "config.json"
