apiVersion: v1
kind: Service
metadata:
  name: frink-{{ kg_name }}-fuseki-service
spec:
  selector:
    app: frink-{{ kg_name }}-fuseki-server
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3030