apiVersion: networking.gke.io/v1
kind: HealthCheckPolicy
metadata:
  name: {{ kg_name }}-qlever-health-check
spec:
  default:
    checkIntervalSec: 10
    timeoutSec: 5
    healthyThreshold: 2
    unhealthyThreshold: 2
    config:
      type: HTTP
      httpHealthCheck:
        port: 7001
        requestPath: /?query=ASK%20%7B%7D
  targetRef:
    group: ""
    kind: Service
    name: frink-{{ kg_name }}-qlever-server
