apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc_name }}
  labels:
    app: frink-{{ kg_name }}-qlever-server
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ pvc_storage_size }}
